# Reading Census data

Reading a CSV with subcategories

## Standard imports

import pandas as pd
import re
from itertools import takewhile
import csv

## Regular expressions to pull sections

In [3]:
rx_section = re.compile('\n([A-Z ]+)\n', re.S | re.M)

## Source data

https://www.census.gov/data/tables/time-series/dec/cph-series/cph-l/cph-l-131.html

### File Structure

The file has sections for each state.

In [17]:
with open('../DATA/cph-l-131-b.csv') as cph_in:
    content = cph_in.read()

    
column_labels = "State Income TOTAL 1-Person 2-Person 3-Person 4-Person 5-Person 6+-Persons".split()
    
sections = rx_section.split(content)

sections.pop(0) # remove first section of junk

it = iter(sections)

from pprint import pprint

all_rows = []

for state in it:
    raw_data = next(it).rstrip()
    if '---------------' in raw_data:  # remove trailing junk at end
        raw_data = re.sub(r'-+.*', '', raw_data, 0, re.S)
    raw_rows = raw_data.splitlines()
    raw_rows[:2] = []  # remove first two columns
    all_rows.extend('"{}",'.format(state) + row for row in raw_rows)


df = pd.DataFrame(list(csv.reader(all_rows)), columns=column_labels)
df.set_index(['State', 'Income'], inplace=True)
df

                                        TOTAL   1-Person   2-Person  \
State         Income
UNITED STATES Less than $5,000      5,684,517  3,133,102  1,110,021
              $5,000 to $9,999      8,529,980  4,794,603  1,920,691
              $10,000 to $12,499    4,365,873  1,870,742  1,344,979
              $12,500 to $14,999    3,767,400  1,358,942  1,324,321
              $15,000 to $17,499    4,260,641  1,459,614  1,468,477
              $17,500 to $19,999    3,844,339  1,155,865  1,393,256
              $20,000 to $22,499    4,395,954  1,285,519  1,541,983
              $22,500 to $24,999    3,622,808    884,984  1,340,173
              $25,000 to $27,499    4,105,099  1,002,987  1,425,362
              $27,500 to $29,999    3,328,905    666,462  1,204,774
              $30,000 to $32,499    4,108,519    885,773  1,361,887
              $32,500 to $34,999    3,032,602    466,211  1,077,753
              $35,000 to $37,499    3,487,169    580,910  1,164,752
              $37,500 to $39,999    2,727,253    350,720    942,348
              $40,000 to $42,499    3,254,665    457,288  1,068,914
              $42,500 to $44,999    2,360,699    233,185    801,961
              $45,000 to $47,499    2,565,438    263,880    850,189
              $47,500 to $49,999    2,033,231    169,987    679,107
              $50,000 to $54,999    4,078,012    348,281  1,336,247
              $55,000 to $59,999    3,135,172    196,082  1,031,356
              $60,000 to $74,499    6,564,699    371,242  2,115,214
              $75,000 to $99,999    4,704,808    227,985  1,499,612
              $100,000 to $124,999  1,831,758    105,203    595,312
              $125,000 to $149,999    762,010     43,063    261,200
              $150,000 or more      1,442,031    108,484    519,697
              Median (dollars)         30,056     15,091     31,130
ALABAMA       Less than $5,000        159,594     90,974     29,968
              $5,000 to $9,999        178,304     84,753     52,197
              $10,000 to $12,499       87,687     28,920     31,201
              $12,500 to $14,999       73,372     21,121     27,017
...                                       ...        ...        ...
WISCONSIN     $100,000 to $124,999     21,512      1,102      6,859
              $125,000 to $149,999      9,032        421      2,811
              $150,000 or more         17,735      1,207      6,642
              Median (dollars)         29,442     13,867     29,647
WYOMING       Less than $5,000          9,807      5,410      2,279
              $5,000 to $9,999         17,051      9,697      4,017
              $10,000 to $12,499        9,387      4,215      2,938
              $12,500 to $14,999        8,341      2,979      3,061
              $15,000 to $17,499        8,642      2,672      3,243
              $17,500 to $19,999        7,811      2,072      3,004
              $20,000 to $22,499        9,444      2,542      3,265
              $22,500 to $24,999        7,338      1,731      2,528
              $25,000 to $27,499        8,150      1,531      2,937
              $27,500 to $29,999        6,598      1,128      2,321
              $30,000 to $32,499        8,096      1,617      2,623
              $32,500 to $34,999        6,568        802      2,285
              $35,000 to $37,499        7,049        902      2,026
              $37,500 to $39,999        5,191        552      1,686
              $40,000 to $42,499        6,410        792      2,005
              $42,500 to $44,999        4,743        386      1,704
              $45,000 to $47,499        5,093        339      1,678
              $47,500 to $49,999        3,824        199      1,151
              $50,000 to $54,999        7,539        388      2,365
              $55,000 to $59,999        5,286        205      1,563
              $60,000 to $74,499        8,885        358      2,999
              $75,000 to $99,999        4,643        172      1,774
              $100,000 to $124,999      1,507         74        601
              $125,000 to $149,999        715         65        271
              $150,000 or more          1,191        125        531
              Median (dollars)         27,096     13,469     27,667

                                     3-Person   4-Person 5-Person 6+-Persons
State         Income
UNITED STATES Less than $5,000        654,919    424,657  209,023    152,795
              $5,000 to $9,999        805,991    530,572  276,289    201,834
              $10,000 to $12,499      498,885    338,178  180,655    132,434
              $12,500 to $14,999      470,640    320,274  166,569    126,654
              $15,000 to $17,499      576,427    406,782  205,608    143,733
              $17,500 to $19,999      551,371    402,729  201,758    139,360
              $20,000 to $22,499      652,452    506,541  252,123    157,336
              $22,500 to $24,999      583,045    450,607  223,020    140,979
              $25,000 to $27,499      686,877    561,145  268,740    159,988
              $27,500 to $29,999      596,197    491,490  232,804    137,178
              $30,000 to $32,499      733,251    658,529  301,888    167,191
              $32,500 to $34,999      594,171    519,004  239,822    135,641
              $35,000 to $37,499      680,884    625,873  283,606    151,144
              $37,500 to $39,999      559,498    516,730  230,646    127,311
              $40,000 to $42,499      659,436    643,792  281,285    143,950
              $42,500 to $44,999      516,555    482,155  212,859    113,984
              $45,000 to $47,499      554,800    539,779  233,985    122,805
              $47,500 to $49,999      455,456    437,911  188,287    102,483
              $50,000 to $54,999      905,525    900,024  385,808    202,127
              $55,000 to $59,999      729,851    709,686  303,531    164,666
              $60,000 to $74,499    1,546,459  1,517,643  654,966    359,175
              $75,000 to $99,999    1,101,306  1,095,433  488,428    292,044
              $100,000 to $124,999    402,169    412,327  194,316    122,431
              $125,000 to $149,999    162,726    162,316   80,455     52,250
              $150,000 or more        283,654    301,902  148,886     79,408
              Median (dollars)         37,119     40,873   39,459     36,974
ALABAMA       Less than $5,000         17,169     11,515    5,702      4,266
              $5,000 to $9,999         19,636     11,307    5,952      4,459
              $10,000 to $12,499       12,628      8,321    3,967      2,650
              $12,500 to $14,999       12,044      7,142    3,515      2,533
...                                       ...        ...      ...        ...
WISCONSIN     $100,000 to $124,999      4,719      4,823    2,654      1,355
              $125,000 to $149,999      1,937      2,156    1,115        592
              $150,000 or more          3,224      3,605    1,897      1,160
              Median (dollars)         37,447     40,384   39,581     36,652
WYOMING       Less than $5,000            973        779      198        168
              $5,000 to $9,999          1,541      1,117      488        191
              $10,000 to $12,499        1,067        659      350        158
              $12,500 to $14,999        1,071        744      309        177
              $15,000 to $17,499        1,153        986      384        204
              $17,500 to $19,999        1,110        929      419        277
              $20,000 to $22,499        1,358      1,306      604        369
              $22,500 to $24,999        1,089      1,078      591        321
              $25,000 to $27,499        1,393      1,264      662        363
              $27,500 to $29,999        1,243      1,059      606        241
              $30,000 to $32,499        1,144      1,437      891        384
              $32,500 to $34,999        1,125      1,390      613        353
              $35,000 to $37,499        1,404      1,579      844        294
              $37,500 to $39,999        1,044      1,244      419        246
              $40,000 to $42,499        1,090      1,541      675        307
              $42,500 to $44,999          904      1,067      444        238
              $45,000 to $47,499        1,197      1,084      510        285
              $47,500 to $49,999          900        907      454        213
              $50,000 to $54,999        1,528      2,070      811        377
              $55,000 to $59,999        1,139      1,335      722        322
              $60,000 to $74,499        1,917      2,281      985        345
              $75,000 to $99,999          996      1,040      459        202
              $100,000 to $124,999        351        277      138         66
              $125,000 to $149,999        187         89       66         37
              $150,000 or more            186        203       70         76
              Median (dollars)         33,418     36,559   35,714     34,299

[1352 rows x 7 columns]